body {
    margin: 0px !important;
}

#wrapper {
    background-color: black;
    font: 1.3rem Inconsolata, monospace;
    color: white;
    height: 100vh;
    width: 100%;
    overflow: hidden
}

.border {
    border: 1px solid #202020;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

ul {
    list-style-type: none;
}

#mainContent {
    padding: 20px;
    height: 90%;
}

.inline {
    justify-content: start;
    display: flex;
    bottom: 0px;
}

#modal {
    padding: 1%;
    min-width: 15%;
    border: 1px solid green;
    margin: auto, auto, auto, auto;
    right: 50%;
    bottom: 50%;
    position: absolute;
    box-shadow: 7px 7px 20px 0px green;
    background-color: black;
}

/* leftBar */
#leftPanel {
    width: 10%;
    height: 100vh;
    left: 0px;
    position: absolute;
}

/* navbar */
#navBar {
    justify-content: center;
    display: flex;
    padding-top: 10px;
    width: 100%;
    height: 50px;
    box-shadow: 0px 1px 20px 0px green;
    padding-bottom: 10px;
}

#navBar>#leftSide {
    justify-content: left;
    display: flex;
    padding-left: 20px;
    height: 100%;
    width: 30%;
}

#navBar>#middleSide {
    justify-content: center;
    display: flex;
    height: 100%;
    width: 30%;
}

#navBar>#rightSide {
    justify-content: flex-end;
    display: flex;
    height: 100%;
    width: 50%;
}

/* Bottom Text */
#bottomStatic {
    bottom: 0px;
    width: 100%;
    position: absolute;
    z-index: 14;

}

#bottomInput {
    width: 100%;
    background-color: #202020;
    color: green;
}

#bottomInput:focus {
    outline: none;
}

input {
    border: none;
}

input:focus {
    background-color: red;
}

/* COLORS */

.selected {
    background-color: darkblue;
}

.darkBlue {
    color: blue;
}

.underline {
    text-decoration: underline wavy red 1px !important;
}

.class {
    color: #4EC9B0
}

.lightBlue {
    color: cornflowerblue;
}

.method {
    color: #DCDCAA;
}

.commentLine {
    color: #57A64A;
}

.properties {
    color: #DCDCDC;
}

/* tooltip */


#tooltipDiv {
    border-color: white;
    border-style: solid;
    width: 80%;
    height: 10%;
    z-index: 99;
    margin: 5%;
}


.tooltipTopSide {
    justify-content: left;
    display: flex;
}

/* Intellisense Div*/
#intelliDiv {
    width: 20%;
    border: 1px solid white;
    background-color: black;
}

#helpDiv {
    padding: 1%;
    width: 15%;
    border: 1px solid green;
    right: 50%;
    bottom: 50%;
    position: absolute;
    box-shadow: 7px 7px 20px 0px green;
    background-color: black;
}

.intelliDivHover {
    cursor: pointer;
}

.intelliDivHover:hover {
    background-color: #57A64A
}

/* Abilities Page */
#SecretKeyInput {

    background-color: #202020;
    color: green;
}

.bottomBorder {
    margin-bottom: 1%;
    border-bottom: 1px solid white;
}


#maxHeight {
    /* background-color: #fff000; */
    height: 100%;
}


/* scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    height: 10px;
}

/* info */
#infoMainContent {

    width: 98%;
}

#infoRight {
    margin-top: 20%;
    width: 2%;
    height: 100%;
}

.sectionCustomInput {
    cursor: pointer;
    border: #000;
    margin-top: 20%;
    margin-bottom: 20%;
    border-radius: 50%;
    background-color: green;
    border: 1px solid #f1f1f1;
    width: 15px;
    height: 15px;
}

#infoRight>input[type=radio]:checked+.sectionCustomInput {
    background-color: cornflowerblue;
}

#currentPage {
    position: relative;
    z-index: 10;
    background-color: black;
}
#newPage
{
    position: relative;
    z-index: 11;
    background-color: black;
}